<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Bloom Town</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/fonts/material-icons.min.css">
    <link rel="stylesheet" href="assets/css/Data-Table.css">
    <link rel="stylesheet" href="assets/css/Filter.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.15/css/dataTables.bootstrap.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.css">
    <link rel="stylesheet" href="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.css">
    <link rel="stylesheet" href="assets/css/OcOrato---Login-form.css">
    <link rel="stylesheet" href="assets/css/Profile-with-data-and-skills.css">
    <link rel="stylesheet" href="assets/css/vertical-navbar-with-menu-and-social-menu.css">
</head>

<body id="page-top" data-bs-spy="scroll" data-bs-target="#mainNav" data-bs-offset="77">
    <nav class="navbar navbar-light navbar-expand-md fixed-top" id="mainNav" style="background: #42dca3;">
        <div class="container">
            <div class="container-fluid">
                <nav class="navbar navbar-light navbar-expand-md sticky-top bg-white" style="color: #42dca3;background: rgb(66,220,163);">
                    <div class="container-fluid"><a class="navbar-brand" href="#" style="color: rgb(0,0,0);">BloomTown</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
                        <div class="collapse navbar-collapse" id="navcol-1">
                            <ul class="navbar-nav">
                                <li class="nav-item" style="opacity: 1;"><a class="nav-link active" href="#about" style="color: rgb(0,0,0);background: rgba(255,255,255,0);">About</a></li>
                                <li class="nav-item" style="color: rgb(0,0,0);"><a class="nav-link" href="about.html" style="color: rgb(0,0,0);" target="_blank">Meet the Devs</a></li>
                            </ul>
                            <ul class="navbar-nav ms-auto">
                                <li class="nav-item"><a class="nav-link active" href="#" style="background: rgba(255,255,255,0.76);"><button class="btn btn-outline-primary" type="button" data-bs-toggle="modal" data-bs-target="#signin" style="background: rgba(255,255,255,0.76);">Log In</button></a></li>
                                <li class="nav-item"><a class="nav-link active" href="#" style="background: rgba(255,255,255,0.78);"><button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#signup">Sign Up</button></a></li>
                            </ul>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </nav>
    <header class="masthead" style="background: rgb(66,220,163);">
        <div class="intro-body" style="background: #42dca3;color: rgb(66,220,163);">
            <div class="container">
                <div class="row flex-sm-row">
                    <div class="col-sm-12 col-md-5 col-lg-8 col-xl-8 col-xxl-8 offset-md-2 mx-auto col-sm-1 small-buff" style="color: rgb(0,0,0);width: 350px;height: 600px;">
                        <h1 class="font-monospace" style="color: rgb(0,0,0);font-size: 20px;text-align: left;margin-bottom: 10px;width: 307px;">Thank you for check out<br></h1>
                        <h1 class="font-monospace" style="color: rgb(0,0,0);font-size: 50px;text-align: left;margin-bottom: 9px;">BloomTown!<br></h1>
                        <p style="text-align: justify;font-size: 14px;width: 323px;letter-spacing: 0px;">BloomTown is part social application and part garden task planner.&nbsp;Mostly though, it's a solution to an existing problem here in Oklahoma.<br><br>A little backstory, Garden Your Own Growth is a program organized by Earth Rebirth, a non-profit born in Norman, OK. The program worked to bring gardens to schools both as an educational opportunity and as a way to bring fresh produce to school cafeterias.<br><br>Although it’s been an overall success, the biggest and most consistent struggle is managing the gardens without putting all the workload on just a handful of people. This same maintenance issue can be found as an inhibitor in the success of community gardens as well. Our garden network application would help to solve that problem.<br></p>
                    </div>
                </div>
            </div>
        </div>
    </header><div class="container">
    <div class="main-body">
    
          <!-- /Breadcrumb -->
    
          <div class="row gutters-sm">
            <div class="col-md-4 mb-3">
              <div class="card">
                <div class="card-body">
                  <div class="d-flex flex-column align-items-center text-center">
                    <img src="assets/img/productplanning.png" alt="Admin" width="150">
                    <div class="mt-3">
                      <h4>BloomTown</h4>
                      <p class="card-text mb-1">Where a social network meets a garden planning application.</p><br>
                      <p class="card-text font-size-sm">Tulsa, Oklahoma</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-8">
              <div class="card mb-3">
                <div class="card-body">
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Developers</h6>
                    </div>
                    <div class="col-sm-9 card-text">
                      Ben Dosch and Kellie Mogg
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Website</h6>
                    </div>
                    <div class="col-sm-9 card-text">
                      heroku.bloom-town.com
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Github</h6>
                    </div>
                    <div class="col-sm-9 card-text">
                      github.com/kelliemogg/bloomtown
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Solution for</h6>
                    </div>
                    <div class="col-sm-9 card-text">
                      earthrebirthers.com/garden-network/
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                    <div class="col-sm-3">
                      <h6 class="mb-0">Capstone Project</h6>
                    </div>
                    <div class="col-sm-9 card-text">
                      Holberton School Tulsa
                    </div>
                  </div>
                  <hr>
                  <div class="row">
                  </div>
                </div>
              </div>

              <div class="row gutters-sm">
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Frontend Status</h6>
                      <small>Responsive Web Design</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>UI/UX</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 82%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Volunteer Interface</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Leader Interface</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 65%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Accessibility</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 mb-3">
                  <div class="card h-100">
                    <div class="card-body">
                      <h6 class="d-flex align-items-center mb-3"><i class="material-icons text-info mr-2">assignment</i>Backend Status</h6>
                      <small>Database Logic</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Longterm Functionality</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 72%" aria-valuenow="72" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Public API</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 89%" aria-valuenow="89" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Optimization</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 55%" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                      <small>Clean Code</small>
                      <div class="progress mb-3" style="height: 5px">
                        <div class="progress-bar bg-primary" role="progressbar" style="width: 66%" aria-valuenow="66" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>



            </div>
          </div>

        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="signin">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 style="color: rgb(0,0,0);">Sign In</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group mb-3">
                            <div class="input-group"><span class="text-primary input-group-text"><i class="fa fa-envelope-o"></i></span><input class="form-control" type="email" required="" placeholder="Email"></div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group"><span class="text-primary input-group-text"><i class="fa fa-lock"></i></span><input class="form-control" type="password" required="" placeholder="Password"></div>
                        </div>
                        <div class="form-group mb-3"><button class="btn btn-primary btn-lg" style="width: 100%;" type="button">Log in</button></div>
                    </form>
                    <hr style="background-color: #bababa;">
                    <p class="text-center" style="color: rgb(0,0,0);">Or&nbsp;<a class="text-decoration-none" href="#" style="color: rgb(0,0,0);">Forget password</a></p>
                    <p class="text-center" style="color: rgb(0,0,0);">Don't have an account? &nbsp;<a class="text-decoration-none" href="#" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#signin" style="color: rgb(0,0,0);">Sign Up</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" role="dialog" tabindex="-1" id="signup">
        <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Sign Up Now</h4><button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center"><button class="btn btn-primary text-start" style="width: 100%;" type="button"><i class="fa fa-facebook"></i>&nbsp; Continue with Facebook</button></div>
                    <div class="text-center mt-2"><button class="btn btn-light text-start border-dark" style="width: 100%;" type="button"><i class="fa fa-google"></i>&nbsp; Continue with Google</button></div>
                    <form class="mt-4">
                        <div class="form-group mb-3">
                            <div class="input-group"><span class="text-primary input-group-text"><i class="fa fa-user-o"></i></span><input class="form-control" type="text" required="" placeholder="Full Name"></div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group"><span class="text-primary input-group-text"><i class="fa fa-envelope-o"></i></span><input class="form-control" type="email" required="" placeholder="Email"></div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group"><span class="text-primary input-group-text">User Type</span></div>
                            <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-2"><label class="form-check-label" for="formCheck-2" style="color: rgb(0,0,0);">Volunteer</label></div>
                            <div class="form-check"><input class="form-check-input" type="radio" id="formCheck-3"><label class="form-check-label" for="formCheck-3" style="color: rgb(0,0,0);">Garden Leader</label></div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="input-group"><span class="text-primary input-group-text"><i class="fa fa-lock"></i></span><input class="form-control" type="password" required="" placeholder="Password"></div>
                        </div>
                        <div class="form-group mb-3">
                            <div class="form-check"><input class="form-check-input" type="checkbox" id="formCheck-1" required="" checked=""><label class="form-check-label" for="formCheck-1" style="color: rgb(0,0,0);">I agree to all the terms and conditions.</label></div>
                        </div>
                        <div class="form-group mb-3"><button class="btn btn-primary btn-lg" style="width: 100%;" type="button">Sign Up</button></div>
                    </form>
                    <hr style="background-color: #bababa;">
                    <p class="text-center">Already have an Account?&nbsp;<a class="text-decoration-none" href="#" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#signup">Log In</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.15/js/dataTables.bootstrap.min.js" type="module"></script>
    <script src="assets/js/grayscale.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.js"></script>
    <script src="https://unpkg.com/@bootstrapstudio/bootstrap-better-nav/dist/bootstrap-better-nav.min.js"></script>
    <script src="assets/js/jquery-3.6.0.min.js"></script>
    <script src="assets/js/vertical-navbar-with-menu-and-social-menu.js"></script>
</body>

</html>