<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="assets/css/index.css">
    <title>Home - BloomTown</title>
</head>

<body>
    <canvas class="webgl"></canvas>
    <header>
        <h1> Hi it's Kellie</h1>
    </header>
<script src="assets/js/index.js"></script>
</body>

</html>