table {
  border-collapse: collapse;
  text-align: left;
  margin-bottom: 0;
  margin-top: 36px;
  max-width: 95%;
  float: right;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

.hide {
  max-width: 10px;
}

